.detailView {
  position: fixed;
  top: 60px;
  right: 0;
  width: 35vw;
  min-height: 100vh;
  max-height: 100%;
  padding: 20px;
  background-color: #fff;
  box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
