.hello {
  margin-top: 60px;
  height: 85dvh;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0.1px;
  padding: 20px;
  color: #4f4f4f;
}
