.header {
  position: absolute;
  z-index: 1001;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  background-color: #00838f;
  gap: 30px;
  align-items: center;
  justify-content: center;
  padding: 25px;

  label {
    color: #000 !important;
    font-size: 22px;
  }

  input {
    border-radius: 5px;
    width: 70vw;
    color: #000 !important;
    background-color: #fff;
    font-size: 18px;
  }
  button::hover {
    cursor: pointer;
  }
}
